.container {
    display: grid;
    color: white;
    grid-template-columns: 300.833px 700px 320px ;
    /* border: 2px solid white; */
    margin: 20px ;
    height: 100vh;

  }

.grid-rows{
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-left: 20px;

}

h1{
    color: #2E8BFF;
    line-height: 15px;
    font-family: Cormorant Upright;
    font-weight: 600;
    font-size: 40px;
}

.grid-item3 .long{
    width: 150px;
    height: 200px;
    margin: 10px 10px;
    border-radius: 10px;

}
.grid-item3 .medium{
    width: 150px;
    height: 160px;
    margin: 10px 10px;
    border-radius: 10px;

}
.grid-item3 .landscape{
    width: 200px;
    height: 140px;
    margin: 10px 10px;
    border-radius: 10px;
    
}

.img-section{
    display: inline-flex;
    position: relative;
    left: 0;
    top: 0;
}

.img{
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.heart {
    /* margin-right: 20px; */
    position: absolute;
    top: 16px;
    left: 130px;
}

.landscapeHeart{
    position: absolute;
    top: 16px;
    left: 180px;
    
}

.heart:hover{
    cursor: pointer;
}
.landscapeHeart:hover{
    cursor: pointer;
}



