
.heading{
    display: flex;
    justify-content: space-between;
}

.heading h1{
    color: #2E8BFF;
    margin: 15px;
    font-family: Cormorant Upright;
    font-size: 50px;
    margin-top: 25px;
}

.heading input{
    /* margin: 30px; */
    height: 30px;
    width: 250px;
    border-radius: 300px;
    background-color: inherit;
    outline: none;
    /* border: 1px solid #212325; */
    border: none;
    padding-left: 18px ;
    color:  #6F7378;
    font-family: Inter;
}

.search{
    display: flex;
    margin: 30px;
    height: 30px;
    width: 250px;
    border-radius: 300px;
    /* background-color: inherit; */
    border: 1px solid #212325;
}